$peachBgColor: rgb(255, 241, 231);
$greenBgColor: rgb(212, 212, 196);
$buttonBgColor: rgb(255, 207, 169);
$btnActiveBgColor: rgb(243, 215, 194);
$btnHoverBgColor: rgb(244, 191, 148);
$msgContainerBgColor: rgb(222, 222, 206);
$inputBgColor: rgb(255, 232, 214);
$inputBgHoverColor: rgb(243, 215, 194);
$black: rgb(0, 0, 0);
$msgMeBgColor: rgb(255, 241, 231);
$msgOtherBgColor: rgb(244, 211, 189);
